@import 'global.css';
@import 'reset.css';
@import 'mixin.less';
@import 'ani.less';

@loadingUrl: '../img/loading.gif';
@dataloadingUrl: '../img/data-loading.gif';


html,body{
    height: 100%;
    /*font-family:  Helvetica, Arial, 'Lucida Grande', Tahoma, 'Trebuchet MS' , sans-serif;*/
    font-family: 'PingFang-SC-Light', 'Helvetica Neue Light', Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}
.app-main{
    height: 100%;
}
.g-loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(@loadingUrl) no-repeat;
    background-size: 30px;
}
.g-data-loading.hide{
    display: none!important;
}
.g-data-loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(@dataloadingUrl) no-repeat;
    background-size: 16px;
    margin-left: -8px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    z-index: 3
}


.g-tip {
    position: fixed;
    width: 100%;
    top: 45%;
    text-align: center;
    z-index: 999;
}

.g-tip-mask,
.g-modal-mask {
    .flex-box();

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    /*background: rgba(0,0,0,.4);*/

    /* 子元素 垂直居中对齐 */
      -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;

    /* 子元素 水平居中对齐 */
           -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;    
}

.g-tip {
    position: fixed;
    width: 100%;
    top: 45%;
    text-align: center;
    z-index: 999;
}

.g-tip-mask {
    /*background: rgba(0,0,0,.3);*/
    top: 0;
}

.g-tip-inner {
    display: inline-block;
    color: #fff;
    max-width: 300px;
    box-sizing: border-box;
    text-align: left;
    background: rgba(0,0,0,.8);
    line-height: 1.5;
    padding: 8px 20px;
    border-radius: 3px;
    opacity: 1;
}

.g-tip-warp {
    display: inline-block;
    color: #fff;
    max-width: 300px;
    box-sizing: border-box;
    text-align: left;
    background: rgba(0,0,0,.8);
    line-height: 1.5;
    padding: 8px 20px;
    border-radius: 3px;
    opacity: 1;
    position: fixed;
    top: 50%;
    margin: -19px auto 0px;
    /*left: 50%;*/
    z-index: 1;
}

.main{
    width: 100%;
    padding-top: 10px;
}
/*
* Banner
*/
.banner-warp{
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.banner-warp .banner{
    width: 100%;
    height: 90px;
    display: block;
}

.banner-warp .slick-track{
    height: 90px;
}

.banner-warp .slick-track .slick-slide {
    width: 100%;
    float: left;
    display: block;
}

.banner-warp .slick-dots{
    position: absolute;
    z-index: 2;
    bottom: 2px;
    list-style: none;
    text-align: center;
    width: 100%;
}
.banner-warp .slick-dots li{
    position: relative;
    display: inline-block;
    height: 2px;
    width: 2px;
    margin:1px 4px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background:#cacaca;
    /*background: rgba(0,0,0,0.1);
    border:1px solid  rgba(255,255,255,.6);*/
    text-indent: -10000px;
    overflow: hidden;
    border:#fff 1px solid;
    opacity: .6;
}
.banner-warp .slick-dots li.slick-active{
    width: 5px;
    height: 5px;
    margin:0px 4px;
    border:#ececec 1px solid;
    opacity: 1;
}


/*
* 首页通用title条
*/
.column-title{
    line-height: 50px;
    height: 50px;
    color: #000;
    font-size: 16px;
    overflow: hidden;
}

/*
* 一大波优惠
*/
.discount-warp{
    padding:0px 0px 0px 15px;
    background-color: #fff;
    overflow: hidden;
}
.discount-warp .discount-content{
    height: 227px;
    -webkit-overflow-scrolling:touch;
    overflow-x: scroll;
}
.discount-content .discount{
    width: 130px;
    height: 191px;
    float: left;
    display: inline-block;
    background-color: #f6f6f6;
    position: relative;
    margin-right: 15px;
}
.discount-content .discount:nth-last-child(1){
    margin: 0px
}
.discount-content .discount .discount-img{
    width: 130px;
    height: 110px;
    display: block;
    border: none
}
.discount-content .discount .discount-text{
    width: 90px;
    height: 70px;
    /*line-height: 64px;*/
    padding: 0px 20px;
    text-align: center;
    display: block;
    display:table;
}
.discount-content .discount .discount-text label{
    display: inline-block;
    vertical-align: middle;
    display:table-cell;    
}
.discount-content .discount .discount-btn{
    width: 62px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #f15353;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -31px;
}

.discount-content .discount .discount-btn-position{
    position: absolute;
    width: 100px;
    height: 44px;
    top: -11px;
    left: -19px;
    z-index: 2;
}

.discount-content .discount .discount-btn-text{
    width: 100%;
    height: 22px;
    overflow: hidden;
}

/*
* 精挑细选
*/
.choosy-warp{
    padding:0px 15px 0px;
    background-color: #fff;
}
.choosy-warp li{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.choosy-warp li a{
    display: block;
    width: 100%;
}
.choosy-warp li img{
    width: 100%;
    max-height: 134px;
    display: block;
}

.finance-warp{
    background-color: #fff;
}
.finance-warp .finance-content{
    width: 100%;
    overflow: hidden;
}

.finance-content .finance-item{
    display: block;
    /*border-top: #eee 1px solid;*/
    /*padding: 20px 15px 20px;*/
    /*width: 100%;*/
    overflow: hidden;
    padding:15px 0px;
    margin-left: 20px;
}
.title-line{
    position: relative;
}
.title-line::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.index-bottom-line{
    position: relative;
}
.index-bottom-line::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.bottom-line{
    position: relative;
}
.bottom-line::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.right-line{
    position: relative;
}
.right-line::before{
    content: '';
    width: 1px;
    height: 100%;
    background: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}
/*.finance-content .finance-item:nth-last-child(1)::after{
    display: none;
}*/

.finance-item .finance-name{
    font-size: 14px;
    /*font-weight: 600;*/
    color: #000;
    margin-right: 20px;
}
.f-tag-warp{
    width: 100%;
    position: absolute;
    bottom: 4px;
    margin-top: 11px;
}
.f-tag{
    color: #f15353;
    font-size: 12px;
    padding: 2px 5px;
    border: #fff 1px solid;
    line-height: 100%;
}
.tag-b{
    border: rgba(241,83,83,.1) 1px solid;
}

.finance-left{
    width: 48%;
    height: 64px;
}
.finance-right{
    width: 51%;
    height: 64px;
    position: relative;
}
.f-num{
    /*padding-left: 5px;*/
    font-size: 43px;
    font-weight: 500;
    color: #d7444c;
    line-height: 100%
}
.f-desc{
    font-size: 12px;
    white-space:nowrap;
    color: #b2b2b2;
}
.f-desc.mt7{
    margin-top: 7px;
}
.f-line{
    height: 60px;
    margin-top: 4px;
    border-right:#f2f2f2 1px solid;
}
/*会员中心 */
.member-top-warp{
    color: #fff;
}

.member-info-warp{
    padding: 20px 0px 10px;
}

.member-pic{
    width: 64px;
    height: 64px;
    border: 2px solid #414d63;
    border-radius: 50%;
    display: block;
    float: left;
}
.member-pic img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: block;
}
.member-info{
    float: left;
    margin-left: 15px;
}
.member-name{
    font-size: 18px;
}

.tdul{
    text-decoration: underline;
}

.member-have{
    text-align: center;
    height: auto;
    margin-bottom: 15px;
}
.member-have a{
    color: #fff;
}
.member-have .flex-1:first-child{
    border-right: 1px solid #484965;
}
.member-have .member-have-text{
    color: rgba(255,255,255,.6);
}


.log-out-btn{
    width: 100%;
    display: block;
    text-align: center;
    line-height: 46px;
    background: #fff;
    font-weight: 500;
    color: #333;
    font-size: 16px;
}

.log-out-btn,
.log-out-btn:visited,
.log-out-btn:active{
    color: #333;
}


@media screen and (min-width: 360px) {

    .member-info-warp{
        padding: 28px 0px 10px;
    }
    .finance-left{
        width: 43%;
    }
    .finance-right{
        width: 59%;
    }
}

@media screen and (min-width: 370px) {

     .member-info-warp{
        padding: 28px 0px 36px;
    }
    .finance-left{
        width: 40%;
    }
    .finance-right{
        width: 59%;
    }
}

@media screen and (min-width: 410px) {

    .member-info-warp{
        padding: 28px 0px 59px;
    }

    .finance-left{
        width: 40%;
    }
    .finance-right{
        width: 59%;
    }
}
@media screen and (min-width: 414px) {

    .member-info-warp{
        padding: 28px 0px 61px;
    }

    .finance-left{
        width: 40%;
    }
    .finance-right{
        width: 59%;
    }
}

/*
* 公用input
*/


.captcha-warp{
    width: 80px;
}
.captcha-img{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
}

.formItem{
    line-height: 40px;
    height: 40px;
    padding: 10px 0;
    margin: 0 45px;
}
.formItem .label {
    min-width: 80px;
    text-align: center;
    display: flex
}
.formItem .input {
    line-height: 24px;
    height: 24px;
    margin: 8px 0px;
}
.formItem.bind{
    padding: 0px;
    border: #eee 1px solid;
    border-radius: 5px;
}
.formItem.bind .label{
    color:#fff;
    height: 40px;
    display: block;
    background: #ec6500;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.form-submit{
    width: 150px;
    height: 36px;
    line-height: 36px;
    display: block;
    background: #ec6500;
    border-radius: 5px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    color: #fff;
}
.bind-qr-code{
    text-align: center;
    color: #ec6500;
}
.bind-qr-code img {
    width: 150px;
    height: 150px;
    margin: 70px auto 50px;
}

/*list*/
.list-order-warp{
    background: #fff;
    margin-bottom: 15px;
}
.list-order-top{
    height: 27px;
    width: auto;
    list-style-position: 27px;
    padding: 0px 10px;
}

.list-lm-icon{
    width: 3.07rem;
    height: 0.85rem;
    margin-top: 7px;
    background: url('../img/small-lm-icom.png') no-repeat left;
    background-size: 43px 28px;
}
.list-lm-icon.gray{
    background-position: 0px 0px;
}
.list-lm-icon.yello{
    background-position: 0px -16px;
}
.list-order-delet{
    display: inline-block;
     width: 0.7rem;
    height: 0.9rem;
    margin-top: 4.5px;
    background: url('../img/delet.jpg') no-repeat left;
    background-size: 10px 13px;
}
.list-order-center{
    background: #ececec;
    padding: 8px 10px;
}
.list-express-icon{
    float: left;
    width: 145px;
    height:75px;
    text-align: center;
    border-right: #b5b1b1 1px solid;
}
.list-express-icon img {
    width: 125px;
    height:50px;
    margin: 13px 0px; 
}
.list-order-info{
    float: left;
}
.list-order-info p{
    font-size: 12px;
    color: #030303;
    line-height: 25px;
    padding-left: 10px;
}

.list-order-foot{
    line-height: 27px;
    padding: 0 10px;
    text-align: right;
}
.list-order-length, 
.list-order-select,
.list-order-status{
    float: right;
}
.list-order-status{
    display: block;
    line-height: 19px;
    margin: 3px 10px;
    border: #ec6500  1px solid;
    color: #ec6500;
    padding: 0px 5px; 
}
.list-order-select{
    display: block;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    background: url('../img/select.png') no-repeat 0px 0px;
    background-size: 15px 30px; 
}
.list-order-select.on{
    background: url('../img/select.png') no-repeat 0px -15px;
    background-size: 15px 30px; 
}
.list-btn{
    height: 40px;
    line-height: 40px;
    background: #fedbc0;
    text-align: center;
    color: #000;
}
.list-btn.home{
    background: #ec6500;
    color: #fff;
}
.list-btn.add{
    background: #dd5614;
    color: #fff;
}
.list-icon {
    display: inline-block;
    margin-right: 5px;
    background: url('../img/list-icon.png') no-repeat left top;
}
.icon-store {
    width: 24px;
    height: 19px;
    background-size: 22px 39px;
    background-position: 0px -19px;
    margin-bottom: -5px;
}
.icon-home {
    width: 23px;
    height: 20px;
    margin-bottom: -2px;
    background-size: 22px 39px;
    background-position: 0px 2px;
}
.list-order-center.address{
    line-height: 30px;
    background: #fff;
    border-top: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
}
.list-order-address{
    font-size: 12px;
    color: #6c6b6b;
}

.address-icon {
    display: inline-block;
    width: 18px;
    height: 19px;
    background: url('../img/address-icon.png') no-repeat;
    background-size: 19px 60px; 
    vertical-align: middle;
    margin-right: 5px;
}
.address-icon.default {
    background-position: 0px -24px;
}
.address-icon.default.on{
    background-position: 0px 0px;
}
.address-icon.edit{
    width: 16px;
    height: 12px;
    background-position: -3px -48px;
}
.list-address-edit{
    margin-right: 15px;
}

/* 收件详情页面*/
.detail-bg{
    width: 100%;
    height: 8.9rem;
    background: url('../img/detail-bg.png') no-repeat;
    background-size: 100% 100% ;
}
.detail-package-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img/package.png') no-repeat;
    background-size: 20px 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}
.round-btn{
    background: #ec6a21;
    color: #fff;
    text-align: center;
    height: 37px;
    line-height: 37px;
    width: 200px;
    margin: 0px auto 20px;
    border-radius: 5px;
}
/*寄件下单成功页面*/
.mailing-result-icon{
    width: 60px;
    height: 60px;
    margin: 75px auto   12px;
    background: url('../img/120-120.png') no-repeat center;
    background-size: 60px 60px;
}
.local-icon{
    width: 12px;
    height: 20px;
    background: url('../img/local-icon.png') no-repeat;
    background-size: 12px 20px;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 10px;
}

/*添加编辑地址*/
.add-address-bg{
    width: 100%;
    height: 10rem;
    background: url('../img/address-bg.jpg') no-repeat;
    background-size: 100% 100% ;
}



/*寄件页面*/
.express-form{

}
.express-form-item {
    margin: 10px 45px;
    vertical-align: middle;
    label {
        text-align:justify;
        text-align: right;
        // width: 100px;
        height: 30px;
        line-height: 30px;
    }
    input {
        border: #eee 1px solid;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
    }
    .calculation-btn{
        width: 25px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        border: #c9c9c9 1px solid;
        border-radius: 3px;
        text-align: center;
    }
    .calculation-btn:first-child,
    .calculation-btn:last-child{

        background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e5e5e5));
        background: -webkit-linear-gradient(top, #fff 0%,#e5e5e5 100%);
        background: -o-linear-gradient(top, #fff 0%,#e5e5e5 100%);
        background: -ms-linear-gradient(top, #fff 0%,#e5e5e5 100%);
        background: linear-gradient(to bottom, #fff 0%,#e5e5e5 100%);
        
    }
    .calculation-btn:nth-child(2){
        margin: 0px 8px;
    }
}
