<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"> 
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <script type="text/javascript">
        var docEl = document.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                //设置根字体大小
                docEl.style.fontSize = 20 * (docEl.clientWidth / 375) + 'px';
            };

        //绑定浏览器缩放与加载时间
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    </script>
    <div id="wrapBox" class="clearfix"></div>
    
</body>
</html>